@font-face {
    font-family: 'Cat';
    src: url("/ADS/Portifolio1/PortifolioADS1/site/Cat paw.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}
body{
    background-image: url("/ADS/Portifolio1/PortifolioADS1/site/image/CatBackground.jpg");
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 1500px;
    background-attachment: fixed;
}

h1{
    padding: 4px;
    font-family: 'Cat';
    font-size: 80px;
    color: rgb(0, 0, 0);
    left: 60px;
}

ul li{
    left: 500px;
    display: inline-block;
    font-weight: bold;
}

ul li a{
    text-decoration: none;
    padding: 8px;
    color: black;
    font-size: 30px;
    
}

ul li:hover{
    background-color: rgb(221, 221, 12);
    border-radius: 4px;
}
